<li class="cart-link">
  <a href="/cart">
  	<div class="col sprite cart"></div>
  	<span>cart </span>
  	<span class="items">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</span>
	</a><!-- end /cart -->
</li><!-- end .cart-link -->