<div class="social-icons">
	<div class="col sprite large-sprite facebook large">
		<a class="filled-link" href="http://www.facebook.com" target="_blank"></a>
	</div>
	<div class="col sprite large-sprite twitter large">
		<a class="filled-link" href="http://www.twitter.com" target="_blank"></a>
	</div>
	<div class="col sprite large-sprite instagram large">
		<a class="filled-link" href="http://www.instagram.com" target="_blank"></a>
	</div>
	<div class="col sprite large-sprite youtube large">
		<a class="filled-link" href="http://www.youtube.com" target="_blank"></a>
	</div>
	<div class="col sprite large-sprite tumblr large">
		<a class="filled-link" href="http://www.tumblr.com" target="_blank"></a>
	</div>
	<div class="col sprite large-sprite trip-advisor large">
		<a class="filled-link" href="http://www.tripadvisor.com" target="_blank"></a>
	</div>
</div>