<!-- Begin MailChimp Signup Form -->
<div class="section-wrapper">
	<div class="section-title">subscribe to the newsletter</div>
	<div id="mc_embed_signup">
	<form action="//logbarn.us10.list-manage.com/subscribe/post?u=011375776347f535f69796f03&amp;id=73d1f84d17" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
		
	<div class="mc-field-group">
		<!-- <label for="mce-EMAIL">Email Address </label> -->
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="enter your email">
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		<div class="caveat">
			Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.
		</div><!-- end .caveat -->
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_011375776347f535f69796f03_73d1f84d17" tabindex="-1" value=""></div>
	    <div class="clear"></div>
	    </div>
	</form>
	</div>

</div><!-- end .section-wrapper -->

<!--End mc_embed_signup-->