//Header styles

.site-header {

	.cart-link {
		list-style: none;
		a {
			color: #3e2a20;
			font-size: 22px;
			font-family: HelveticaMdCn;
			text-transform: uppercase;
			@include text-shadow(1px 1px 0 rgba(white, 0.39));
		}

		.cart {
			// background-color: blue;
			position: relative;
			top: 6px;
		}
	}

	.masthead {
		padding: 10px 0;
		.mobile-cart {
			position: relative;
			top: -20px;
			display: none;
		}
		.cart-link {
			text-align: right;
		}
	}

	.toggle-menu {display: none;}

	.search-container {
		position: absolute;
		right: 0;
		bottom: 10px;
		input[type="search"] {
			@include border-radius(0);
		}
		.magnify {padding: 0;}
	}

	.contact-row {
		font-size: 14px;
		&, a {color: #473025;}
		a {text-decoration: underline;}
		.contact-col {margin-right: 20px;}
		.social-icons {vertical-align: middle; margin-left: 6px;}
		.col {vertical-align: middle;}
		.social-icon {
			// background-color: blue;
		}
	}

	.site-nav {
		background: rgb(223, 196, 99);

		.navigation {
			max-width: $maxSize;
			width: $minWidth;
			margin: 0 auto;
			padding: 15px 0;
			// position: relative;
		}

		.nav {
			margin-bottom: -31px;
			li {padding: 15px 0;}
			li.has-dropdown {
				position: static;
				&:hover > a:before {@include dropdown-arrow();}
			}
			> li.active {
				> a:before {
					@include dropdown-arrow();
				}
				.sub-nav {
					opacity: 1;
					display: block;
				}
			}

			a {
				position: relative;
				color: #3e2a20;
				font-size: 22px;
				font-family: HelveticaMdCn;
				text-transform: uppercase;
				@include text-shadow(1px 1px 0 rgba(white, 0.39));
			}
			.items {color: #78672b;}
		}

		.sub-nav {
			position: absolute;
			display: block;
			top: 272px;
			left: 0;
			width: 100%;
			background-color: rgb(62,42,32);
			border: none;
			outline: none;
			opacity: 0;
			display: none;
			text-align: center;

			.section-wrapper {padding: 0; margin-bottom: -20px;}

			li {
				display: inline-block;
				margin: 0 20px;
			}
			a {
				color: white;
				@include text-shadow(none);
				font-size: 16px;
			}
		}

	}
}

@media #{media-width-res(960)} {
	.site-header .site-nav .nav {margin-bottom: -30px;}
	.site-header .site-nav .nav a {font-size: 18px;}
	.site-header .site-nav .sub-nav a {font-size: 15px;}
}

@media #{media-width-res(800)} {
	.site-header .site-nav .nav a {font-size: 15px;}
}

@media #{media-width-res(767)} {
	#main {padding: 0;}
	.site-header {

		.masthead .mobile-cart {
			display: block;
			a {font-size: 16px;}
		}

		.toggle-menu {
			display: block;
			position: absolute;
			right: 5%;
			top: 15px;
			cursor: pointer;

			.right {padding: 0;}

			.current-page-title {
				position: relative;
				top: 4px;
				text-transform: lowercase;
				margin-right: 5px;
				color: #3e2a20;
				font-size: 14px;
			}
		}

		.site-nav {
			position: relative;
			.nav {display: none;}
			.navigation {
				width: 100%;
				.contact-row {padding: 0 5%; margin-top: 3px;}
			}
			.last-contact-col {display: none;}

			&.expand {
				.nav, .sub-nav {
					display: block !important;
					opacity: 1 !important;
					position: relative;
					text-align: center;
					top: auto !important;
					margin-bottom: 0;

					&:not(.sub-nav) {
						position: absolute;
						width: 100%;
						top: 48px;
						background-color: rgb(223, 196, 99);
						z-index: 1;
					}

					&.sub-nav {
						li a {font-size: 13px;}
						margin: 10px 0;
					}

					.justify-span, .cart-link {display: none;}

					li {
						display: block;
						&.active a:after, &.active a:before {display: none !important;}

						&.has-dropdown {
							a {
								display: block;
							}
							&:hover > a:before {display: none !important;}
						}
					}
				}
			}
		}
	}
}

@media #{media-width-res(530)} {
	#logo {
		width: 140px;
		height: 98px;
	}

	.masthead .search-form {
		input[type="search"] {
			width: 145px !important;
		}
	}


@media #{media-width-res(500)} {
	.site-nav {
		.toggle-menu {top: 24px;}
		.contact-row .contact-col:not(.last-contact-col) {
			margin: 0 0 5px 0; display: block;
			font-size: 12px;
		}
	}
	.site-header .site-nav.expand .nav:not(.sub-nav), .site-header .site-nav.expand .sub-nav:not(.sub-nav) {top: 65px;}
}}

@media #{media-width-res(400)} {

}

@media #{media-width-res(350)} {
	#logo {width: 120px;}
	.masthead .search-form {
		input[type="search"] {
			width: 120px !important;
		}
	}
}