{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign numbers = 'one, two, three, four, five, six' | split: ',' %}
{% assign products_per_row = settings.products_per_row | minus: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}

{% paginate blog.articles by 6 %}
<!-- the top of your collections.liquid -->

<div class="section-wrapper grid-wrapper">

	<!-- START PRODUCTS -->
	<ul class="grid clearfix products-grid">
		{% for article in blog.articles %}
			{% include 'article-grid-item' %}
		{% endfor %}
	</ul>

{% if paginate.next %}
	<div id="more">
		<a href="{{ paginate.next.url }}" class="button">see more</a>
		<div class="spinner"></div>
	</div><!-- end #more -->
{% endif %}

<div id="product-list-foot"></div>
<!-- END PRODUCTS -->

<!-- the bottom of your collections.liquid -->
{% endpaginate %}

</div><!-- end .section-wrapper -->