<div id="search-results">

  <div class="section-wrapper">

    {% if search.performed %}
      
      {% paginate search.results by 100 %}
    
      {% if search.results_count == 0 %}  
        <div class="centered section-title">Your search for "{{ search.terms }}" did not yield any results.</div>
      {% else %}

        {% comment %}Search for product types only{% endcomment %}
        {% assign c = 0 %}
        {% for item in search.results %}
          {% assign products_per_row = 'three-per-row' %}
          {% if item.type %}
            {% assign c = 1 %}
          {% endif %}
        {% endfor %}

        {% comment %}Show results only if product results found{% endcomment %}
        {% if c == 0 %}
          <div class="centered section-title">Your search for "{{ search.terms }}" did not yield any results.</div>
        {% else %}
          <div class="centered section-title">showing search results for "{{ search.terms }}"</div>
          <ul class="grid clearfix products-grid">
            {% for item in search.results %}
              {% assign products_per_row = 'three-per-row' %}
              {% if item.type %}
                {% assign c = 1 %}
                {% assign product = item %}
                {% include 'product-grid-item' %}
              {% endif %}
            {% endfor %}
          </ul><!-- end .products-grid -->
        {% endif %}
      {% endif %}    
      
      {% if paginate.pages > 1 %}
      <div id="pagination">
        {{ paginate | default_pagination }}
      </div>
      {% endif %}
      
      {% endpaginate %}    
      
    {% else %}
      <div class="centered section-title">Your must use keywords to search.</div>
    {% endif %}

  </div><!-- end .section-wrapper -->

</div>